@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1656407975243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jubao:before {
  content: "\e601";
}

.icon-huidaodingbu:before {
  content: "\e64d";
}

.icon-icon_A:before {
  content: "\e6a0";
}

.icon-kefu:before {
  content: "\e629";
}

